
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, maximum-scale=1">
<title>Arthacoin</title>
</head>

<body>
<div style="font-family: Helvetica Neue, Helvetica, Helvetica, Arial, sans-serif;">
  <table style="width: 100%;">
    <tr>
      <td bgcolor="#FFFFFF "><div style="padding: 15px; max-width: 600px;margin: 0 auto;display: block; border-radius: 0px;padding: 0px; border: 1px solid #ddd;">
          <table style="width: 100%;background: #fff ; border-bottom: 1px solid #ddd;">
            <tr>
              <td><div>
                  <table width="100%">
                    <tr>
                      <td rowspan="2" style="text-align:center; padding:10px; background:#c8f1ff;"><img style="margin:auto; display:block; width:100px;" src="http://arthacoin.com/assets/images/arthalogo.png" ></td>
                    </tr>
                  </table>
                </div></td>
            </tr>
          </table>
          <!-- ===================== End Header ======================== -->
          <table style="padding: 10px;font-size:14px; width:100%;">
            <tr>
              <td style="padding:10px;font-size:14px; width:100%;">
                <p>
                  To change login password for <strong>{{ handle}}</strong> as requested, please visit:
                </p>
                <p>
                {{changePassURL}}

                </p>
                <p>
                  The link expires in about an hour.
                </p>
                <p>
                  Please ignore this message if you didn't request the password change.
                </p>

                 <h5 style="color: #3a5fd7;font-weight: bold;font-size: 13px;">
                   ***This is an auto generated mail and shouldn't be responded to.</h5>

                </td>
            </tr>
            <!-- ===================== footer ======================== -->
            <tr>
              <td><div align="center" style="font-size:12px; margin-top:20px; padding:5px; width:100%; background:#c8f1ff; color:#000;"> 2018 © All Rights Reserved. <a href="http://arthacoin.com" target="_blank" style="color:#000;"> Arthacoin</a> </div></td>
            </tr>
            <!-- ===================== End_footer ======================== -->
          </table>
        </div></td>
    </tr>
  </table>
</div>
</body>
</html>
